---
language: ruby
rvm:
  - 2.1.2
  - 1.9.3-p547
before_script: "if [[ $TRAVIS_RUBY_VERSION != '1.9.3-p547' || $TRAVIS_SECURE_ENV_VARS != 'true' ]]; then unset CODECLIMATE_REPO_TOKEN; fi"
install: bundle install --deployment --without debug
notifications:
  webhooks:
    urls:
      - http://build-monitor.cfapps.io/projects/WLBP/webhook
    on_start: true
env:
  global:
    secure: njB2370t9TXXmvtVBB7z/aodGOI13sfeCB+Eh/Y/9oSmlnrOHav5QXJbdHKgYbQ+YhBdNfPF9KjW/+bNwi0NbGii0eiTMXw1y+3FDVfTWFFYJYdgpHVMQbZrjVET7DdRPzOmF7xdKz7KK6MhUzWIgA0o000291akDfkWSA5ZlwE= #CODECLIMATE_REPO_TOKEN

